.home{
    padding-left: 300px;
    padding-top: 210px;
}
.home_category_section h1{
    font-size: 45px;
    color: var(--main-color-dark-green-blue);
    font-weight: 700;
    padding-bottom: 30px;
}
.home_course_section {
    margin-bottom: 500px;
    margin-top: 180px;
}
.home_course_section h1{
    font-size: 45px;
    color: var(--main-color-dark-green-blue);
    font-weight: 700;
    padding-bottom: 30px;
}


@media only screen and (max-width: 600px){
    .home{
        width: 100%;
        padding-left: 50px;
        padding-top: 60px;
    }
    .home_category_section h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .home_course_section{
        margin-top: 80px;
    }
    .home_course_section h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
}

@media only screen and (min-width : 1200px) and (max-device-width: 1400px) {
    .home{
        padding-left: 214px;
        padding-top: 150px;
    }
    .home_category_section h1{
        font-size: 32px;
        padding-bottom: 21px;
        font-weight: 500;
    }
    .home_course_section{
        margin-bottom: 357px;
        margin-top: 128px;
    }
    .home_course_section h1{
        font-size: 32px;
        padding-bottom: 21px;
        font-weight: 500;
    }
        
}