.home{
    padding: 3% 10% 0% 13%;
}
.home_category_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home_category_section{
    margin-bottom: 4.31%;
}
.home_course_section {
    margin-bottom: 10%;
}
.home_category_section h1{
    font-size: 45px;
    color: var(--main-color-dark-green-blue);
    font-weight: 700;
    padding-bottom: 30px;
}
.home_course_section h1{
    font-size: 45px;
    color: var(--main-color-dark-green-blue);
    font-weight: 700;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .home_category_section h1{
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 0px;
    }
    .home_course_section{
        margin-top: 50px;
    }
    .home_course_section h1 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 0px;
    }
}
@media only screen and (min-width: 600px) and (max-device-width: 1200px) {
    .home_category_section h1 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 0px;
    }
    .home_course_section h1 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 0px;
    }
}
@media only screen and (min-width : 1200px) and (max-device-width: 1400px) {
    .home_category_section h1{
        font-size: 32px;
        padding-bottom: 21px;
        font-weight: 500;
    }
    .home_course_section h1{
        font-size: 32px;
        padding-bottom: 21px;
        font-weight: 500;
    }      
}