.swiper {
    position: inherit;
    padding: 10px;
}

.swiper-button-prev {
    position: absolute;
    left: 0;
    margin-left: 5%;
    color: #1E5B63;
    border-radius: 50%;
    border: 1px solid #CBA770;
    height: 60px;
    width: 60px;
    top: 0;
    margin-top: 943px;
}

.swiper-button-next {
    position: absolute;
    right: 0;
    margin-right: 5%;
    color: #1E5B63;
    border-radius: 50%;
    border: 1px solid #CBA770;
    height: 60px;
    width: 60px;
    top: 0;
    margin-top: 943px;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -270px;
}
@media only screen and (max-width: 600px) {
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next{
        display: none;
    }

}
@media only screen and (min-width : 1200px) and (max-device-width: 1400px) {
    .swiper-button-prev {
        margin-top: 673px;
        margin-left: 5%;
        height: 50px;
        width: 50px;
    }
    
    .swiper-button-next {
        margin-top: 673px;
        margin-right: 5%;
        height: 50px;
        width: 50px;
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -335px;
    }
}